<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 진행중</title>
</head>
<body>
    <h1>로그인 진행중</h1>
    <p>아이디: <%= username %></p>
    <a href="/">초기 화면으로</a>
    <a href="/process/logout">로그아웃</a>
</body>
</html>